// @import '~node_modules/modern-normalize/modern-normalize.css';
:root {
    --first-text-color: #2e2f42;
    --second-text-color: #434455;
    --hover-color: #4d5ae5;
    --main-background-color: #84A178;
    --animatin-time: 250ms;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  button {
    cursor: pointer;
  }
  
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  body {
    background-color: var(--main-background-color);
  }