.header {
  position: relative;

  margin: 0 auto;
  padding-top: 12px;
  outline: 1px solid blue;
}

.header .container {
  display: flex;
}

.logo-icon {
  width: 40px;
  height: 37px;
}

.header-menu {
  
 
  transition: transform var(--animatin-time) linear;
  
}
.header-menu.is-open {
  outline: 1px solid red;
  display: flex;
  
  padding-top: 40px;
  padding-bottom: 88px;

  
  transform: translateX(100%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.header-menu-icon {
  width: 32px;
  height: 32px;
}



.navigation {
  margin-bottom: 114px;
}

.header-menu-button {
  background-color: var(--main-background-color);
  border: none;
}

.icon-cross {
  display: none;
}

.header-menu-button.is-open .icon-cross {
  display: block;
}

.header-menu-button.is-open .icon-burger {
  display: none;
}

.navigation-list > li:not(:last-child) {
  margin-bottom: 32px;
}

.navigation-list > li {
  text-align: center;
}

.navigation-link {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.22;
  letter-spacing: 0em;
  color: var(--first-text-color);
}

.navigation-link:hover {
  color: var(--second-text-color);
  cursor: url('../images/cursor.svg'), auto;
}

.navigation-button {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 36px;
  padding-right: 36px;
  border: none;
  border-radius: 10px;
  background-color: var(--akcent-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  letter-spacing: 0em;
  text-align: center;
}

.navigation-button::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 4px;

  background-image: url('../images/arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  border-color: transparent;
  background-origin: content-box;
}




// __________________________________________
@media screen and (max-width: 1199px) {
  .header-menu {
  
    position: absolute;
    left: -100%;
    top: 100%;
    width: 100%;
  
    
  }
  .logo {
    margin-right: auto;
  }
}


@media screen and (min-width: 480px) {
  .header {
    max-width: 480px;
    padding-top: 20px;
  }
}


  




@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
  
  }
  .navigation-button {
    position: absolute;
   left: 180.2%;
   top: -43px;
  white-space: nowrap;
  }
  
  .header-menu-button {
    margin-right: 164px;
  }
  .header-menu.is-open .navigation-button {
    display: none;
  }
  .navigation {
    margin-bottom: 0;
  }
  .header-menu.is-open {
    padding-bottom: 528px;
  }
  
  .header-menu-button.is-open{
    margin-right: 0;
  }
}


@media screen and (min-width: 1200px) {
  .header {
    max-width: 1200px;
   
  }
  .header .container {
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    margin-right: 0;
  }
  .header-menu {
    position: static;
    display: flex;
    align-items: center;
    gap: 204px;
    
    
   
  }
  .header-menu-button {
    display: none;
  }
  .navigation-button {
    position: static;
   
  }
  .navigation-list {
    display: flex;
    flex-direction: row;

  }
  .navigation-list > li:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 28px;
  }
  .navigation-link {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0em;
  }
  
  .navigation-link:hover {
    color: var(--akcent-color);
  }

  // .header-menu.is-open .navigation-button {
  //   display: none;
  // }
  
  .header-menu.is-open {
    padding: 0px 0px 0px 0px; 
    position: static;
    transform: translateX(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 204px;
    width: auto;
  }
  .header-menu.is-open .navigation-button{
    position: static;
    display: block;
  }
  






}
