.header {
   position: relative;
    outline: 1px solid blue;
}
.header .container {
    display: flex;
}
.logo-icon {
    width: 40px;
    height: 37px;
    
}

.header-menu-icon {
    width: 32px;
    height: 32px;
}
.header-menu {
    display: none;
}
.header-menu.is-open {
    outline: 1px solid red;
    display: flex;
    position: absolute;
    padding-top: 40px;
    
    width: 100vw;
   left: 0;
   top: 100%;
   flex-direction: column;
  align-items: center;
  justify-content: center;
    
}
.logo {
    margin-right: auto;
}
.header-menu-button {
    background-color: var(--main-background-color);
    border: none;
}
.icon-cross {
    display: none;
}
.header-menu-button.is-open .icon-cross {
display: block;
}
.header-menu-button.is-open .icon-burger {
    display: none;
    }

    .navigation-link {
        
        font-size: 32px;
        font-weight: 700;
        line-height: 1.22;
        letter-spacing: 0em;
        color: var(--first-text-color);
        
        
        

    }
    .navigation-list>li:not(:last-child)  {
        margin-bottom: 32px;}

        .navigation {
            margin-bottom: 114px;
        }
        .navigation-list>li {
            text-align: center;
        }
        .navigation-link:hover {
                
            color: var(--second-text-color);
                 
        }