.header {
   position: relative;
    outline: 1px solid blue;
}
.header .container {
    display: flex;
}
.logo-icon {
    width: 40px;
    height: 37px;
    
}

.header-menu-icon {
    width: 32px;
    height: 32px;
}
.header-menu {
    display: none;
}
.header-menu.is-open {
    position: absolute;
    display: flex;
    width: 100vw;
   left: 0;
   top: 100%;
   flex-direction: column;
  align-items: center;
  justify-content: center;
    
}
.logo {
    margin-right: auto;
}
.header-menu-button {
    background-color: var(--main-background-color);
    border: none;
}
.icon-cross {
    display: none;
}
.header-menu-button.is-open .icon-cross {
display: block;
}
.header-menu-button.is-open .icon-burger {
    display: none;
    }