<header class="header">
    <div class="container">
      <a href="./index.html" class="logo">
        <svg class="logo-icon">
          <use href="./images/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>
      <button type="button"
      class="header-menu-button"
      aria-expanded="false"
          aria-controls="menu-container"
          data-menu-button
      >
        <svg class="header-menu-icon"   aria-label="Переключатель мобильного меню">
          <use href="./images/symbol-defs.svg#icon-eva_menu-fill-1" class="icon-burger"></use>
          <use href="./images/symbol-defs.svg#icon-ep_close-1" class="icon-cross"></use>
        </svg>
      </button>
      <div class="header-menu" id="menu-container" data-menu>
        <nav class="navigation">
          <ul  class="navigation-list">
           <li><a class="navigation-link" href="">Home</a></li>
           <li><a class="navigation-link" href="">How it’s made?</a></li>
           <li><a class="navigation-link" href="">Our products</a></li>
           <li><a class="navigation-link" href="">Contact</a></li>
          </ul>
         </nav>
         
         <button type="button" class="navigation-button">Buy now</button>

      </div>
      
     
      
    </div>
  </header>