<div class="backdrop">
  <div class="product-card">
    <form>
      <h2 class="product-card-header">Buy now</h2>
      <ul class="products-list">
        <li class="form-field">
          <input
            type="checkbox"
            class="visually-hidden product-input"
            name="product-ice-cream"
            id="product-ice-cream"
          />
          <label class="product-label" for="product-ice-cream">
            <div class="product-image-background">
              <div class="thumb">
                <img
                  src="../src/images/kelsey-curtis.jpg"
                  alt=""
                  width="132"
                  height="132"
                />
              </div>
            </div>

            ice cream
          </label>
        </li>
        <li class="form-field"></li>
        <li class="form-field"></li>
      </ul>
    </form>
  </div>
</div>
